<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Edit Book</title>
    <link rel="stylesheet" href="/css/newBook.css">
</head>
<body>

<div class="container">
  <div class="navbar">
      <h2>My Library</h2>
      <ul>
          <li><a href="/books">Manage Books</a></li>
          <li><a href="/collections">Manage Collections</a></li>
          <li><a href="/logout">Logout</a></li>
      </ul>
  </div>

  <div class="content">
      <h1>Edit Book</h1>

      <form action="/books/edit/<%= book.id %>" method="POST">
          <!-- Volume Number, Book Title, Cover URL -->
          <div class="form-row">
              <div class="form-field">
                  <label for="volumeNumber">Volume Number:</label>
                  <input type="text" id="volumeNumber" name="volumeNumber" value="<%= book.volume_number %>" required />
              </div>
              
              <div class="form-field">
                  <label for="title">Book Title:</label>
                  <input type="text" id="title" name="title" value="<%= book.title %>" required />
              </div>
              
              <div class="form-field">
                  <label for="cover">Cover URL:</label>
                  <input type="text" id="cover" name="cover" value="<%= book.cover %>" required oninput="showCoverPreview()" />
              </div>
          </div>

          <!-- Description -->
          <div class="form-row">
              <div class="form-field">
                  <label for="description">Description:</label>
                  <textarea id="description" name="description" required><%= book.description %></textarea>
              </div>

              <!-- Cover Preview Container -->
              <div class="preview-container">
                  <label for="description">Cover Preview</label><br>
                  <img id="coverPreview" src="<%= book.cover || '/media/no-cover-url.png' %>" alt="Cover Preview" />
              </div>
          </div>

          <!-- Price, Release Date -->
          <div class="form-row">
              <div class="form-field">
                  <label for="price">Price:</label>
                  <input type="text" id="price" name="price" value="<%= book.price %>" placeholder="Leave empty for TBA"/>
              </div>

              <div class="form-field">
                  <label for="releaseDate">Release Date:</label>
                  <input type="text" id="releaseDate" name="releaseDate" value="<%= book.release_date %>" placeholder="Leave empty for TBA"/>
              </div>
          </div>

          <!-- ISBN-13, ISBN-10 -->
          <div class="form-row">
              <div class="form-field">
                  <label for="isbn13">ISBN-13 (optional):</label>
                  <input type="text" id="isbn13" name="isbn13" value="<%= book.isbn13 %>"/>
              </div>

              <div class="form-field">
                  <label for="isbn10">ISBN-10 (optional):</label>
                  <input type="text" id="isbn10" name="isbn10" value="<%= book.isbn10 %>"/>
              </div>
          </div>

          <!-- Button Container -->
          <div class="button-container">
              <!-- Update Book Button -->
              <button type="submit" class="update-button">Update Book</button>
      </form>

        <!-- Delete Book Button -->
      <form action="/books/delete/<%= book.id %>" method="POST" class="delete-form">
          <button type="submit" class="delete-button">Delete Book</button>
      </form>
  </div>

      <!-- Back Link -->
      <a href="/books">Back to Books List</a>
  </div>
</div>

<script>
// Funktion zur Anzeige der Cover-Vorschau
function showCoverPreview() {
    const coverInput = document.getElementById('cover');
    const coverPreview = document.getElementById('coverPreview');
    
    // Setzen der Quelle des Bildes auf den Wert des Eingabefeldes
    if (coverInput.value) {
        coverPreview.src = coverInput.value;
    }

    // Wir lassen das Cover anzeigen
    coverPreview.style.display = 'block';
}
</script>

</body> 
</html>